{
  "Serial": {
    "Port": "/dev/ttyUSB0",
    "Baud": 2400,
    "Retries": 5
  },
  "MQTT": {
    "Host": "192.168.1.1",
    "Port": 1883,
    "Client": {
      "Name": "go_phocus_client"
    },
    "Retries": 5
  },
  "Messages": {
    "Read": {
      "TimeoutSeconds": 2
    }
  },
  "DelaySeconds": 15,
  "RandDelaySeconds": 5
}
